* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

section#hero {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.projects-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.project-detail {
    border: 8px solid rgb(145, 175, 165);
    border-radius: 15px;
    width: 300px;
    margin: 15px;
}

.project-detail img {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(123, 150, 141) ;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: rgb(145, 175, 165);
}